<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/materialize.min.css" />
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;900&display=swap" rel="stylesheet">

</head>

<body>
  {{! Navigation bar }}
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo title-text">The Tech Blog</a>
      <ul class="right hide-on-med-and-down">
        {{#if loggedIn}}
        <li><a href="/">Home</a></li>
        <li><a id="logout">Logout</a></li>
        {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Notes
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer>
      
  </footer>
</body>

<script src="/js/materialize.min.js"></script>

</html>
