<!-- Loop over each note object -->
{{#each notes as |note| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Render note-specific data with Handlebars.js expressions -->
    <h2>{{{get_emoji}}} {{note.title}}</h2>
  </div>
  <div class="col-md-6">
    <h3>{{note.comment}}</h3>
  </div>
</div>
{{/each}}
